<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="wrapper" th:fragment="sidebar">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="bg-dark">
            <div class="sidebar-header">
                <h3 class="text-center"><img alt="profile_image" src="/images/logo.jpg" class="rounded" height="100px" width="100%"></h3>

            </div>
            <ul class="list-unstyled components">
                <li class="nav-item">
                    <a class="nav-link pl-4" href="dashboard"> <i class="fa fa-tachometer pr-2" aria-hidden="true"></i> <span>Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="profile"><i class="fa fa-user-secret pr-2" aria-hidden="true"></i> <span>Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#"> <i class="fa fa-graduation-cap pr-2" aria-hidden="true"></i><span>My Applied Course</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#"> <i class="fa fa-calendar pr-2" aria-hidden="true"></i><span> Class Time Table</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#"> <i class="fa fa-calendar-check-o pr-2" aria-hidden="true"></i> <span>Attendance</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#"> <i class="fa fa-calendar-check-o pr-2" aria-hidden="true"></i> <span>Fees Status</span></a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->


</body>

</body>

</html>