<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div th:fragment="topnavbar">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">
            	<button type="button" id="sidebarCollapse" class="btn navbar-btn btn-light">
                    <i class="fa fa-bars" style="font-size:20px;" aria-hidden="true"></i>
                </button>
            </a>

            <div class="d-flex">
                <div class="mt-2 pr-2">
                    <div>
                        <i class="fa fa-bell" aria-hidden="true"></i> <span class="badge badge-warning badge-up rounded-25">9</span>
                    </div>
                </div>
                <div class="pr-4">
                    <a class="dropdown-toggle dropdown-user-link" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="pr-1"><img src="/images/student1.png" alt="avatar" class="img-fluid" width="40px"></span>
                        <span class="user-name">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="user-profile.html"><i class="fa fa-user pr-3" aria-hidden="true"></i> Profile</a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item" href="login-with-bg-image.html"><i class="fa fa-power-off pr-3" aria-hidden="true"></i> Logout</a>
                    </div>
                </div>
                </p>
            </div>
        </nav>
    </div>
</body>

</html>